.product-image-carousel {
    position: relative;
    width: 900px; /* Taille fixe du carrousel */
    height: 750px; /* Hauteur fixe */
    overflow: hidden;
    margin-right: 20px;
}

.product-image-carousel img {
    width: 100%; /* Maintenir la largeur à 900px */
    height: 100%; /* Maintenir la hauteur à 750px */
    object-fit: cover; /* S'assurer que l'image est contenue dans ces dimensions */
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-controls button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
}

.carousel-controls button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-indicators span {
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 5px;
    display: block;
    cursor: pointer;
}

.carousel-indicators .active {
    background-color: #333;
}

.zoom-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    cursor: zoom-in;
    display: none; /* Cacher toutes les images non actives */
}

.zoom-container.active {
    display: block; /* Afficher seulement l'image active */
}

.zoom-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintient la taille fixe de 900x750 */
}

.zoom-container.zoomed img {
    transform: scale(1.5); /* Zoom niveau ajusté */
    cursor: zoom-out;
}
